[user]
    name = Thierry Ducrest
    email = thierry@ducrest.net
[core]
    excludesfile = ~/.gitignore
[alias]
    unstage = reset HEAD --
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short