[user]
    name = Thierry Ducrest
    email = thierry@ducrest.net
[core]
    excludesfile = ~/.gitignore
    editor = nvim
    # Does it speed status ?
    # Are related process annoying
    fsmonitor = false
    untrackedCache = true
[branch]
    sort = -committerdate
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[push]
    default = simple
    autoSetupRemote = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[tag]
    sort = version:refname
[alias]
    ai = add -i
    ap = add -p
    b = branch
    btr = branch --sort=committerdate
    cp = cherry-pick
    ci = commit -v
    cia = commit -v -a
    d = diff
    dc = diff --cached
    l = log
    ll = log -p
    r = remote
    m = merge --no-ff
    s = status
    b = branch -v
    c = commit
    ca = commit --amend
    co = checkout
    sm = submodule
    pf = push --force-with-lease
    reha = reset --hard
    unstage = reset HEAD --
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    lg1 = !"git lg1-specific --all"
    lg2 = !"git lg2-specific --all"
    lg3 = !"git lg3-specific --all"
    lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
