[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/bundle/mru.vim"]
	path = vim/.vim/bundle/mru.vim
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "vim/.vim/bundle/peau-de-taupe"]
	path = vim/.vim/bundle/peau-de-taupe
	url = git@github.com:TDu/peau-de-taupe.git
[submodule "vim/.vim/bundle/bundle/vim-less"]
	path = vim/.vim/bundle/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/.vim/bundle/ctrlp"]
	path = vim/.vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/.vim/bundle/ale"]
	path = vim/.vim/bundle/ale
	url = git@github.com:w0rp/ale.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/.vim/bundle/vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
