snippet cp
//----------------------------------------------------------------->
// © Sterna 2017
// Author: Thierry Ducrest
// 
//-----------------------------------------------------------------|
$0
endsnippet
