snippet pdb
import pdb;pdb.set_trace()
$0
endsnippet

snippet cp
# -*- coding: utf-8 -*-
# Copyright 2018 Camptocamp SA
# License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html)
$0
endsnippet
